html {
  font-size: 16px;
  --font-size: 16px;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 268px;
  border-radius: 10px;
}

.content {
  display: flex;
  top: 0;
  bottom: 0;
  min-width: 250px;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 10px;
}

